<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                  <img alt="Brand" src="static/image/logo.png" height="50px">
                                </a>
                              </div>
                              <div align="right">
                                    <a href="/login" ><button type="button" class="btn btn-primary navbar-btn" style="margin-top: 30px;"><span class="fa fa-user"></span> Sign In</button></a>
                                    <a href="/signup" ><button type="button" class="btn btn-danger navbar-btn" style="margin-top: 30px;"><span class="fa fa-user"></span> Sign Up</button></a>
                              </div>
                </div>
        </nav>
        <div class="col-xs-12" style="height:50px;"></div>
<div class="container">
    <div class="jumbotron text-center">
    </div>
</div>

</body>
</html>
